#root {
  /* height: 100dvh; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

path {
  pointer-events: all;
  /* fill: #8080804d; */
}

path:hover {
  opacity: 0.50;
  cursor: pointer;
}